<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfang.mapper.ProductMapper">
    
    <select id="selectByCataLogId" parameterType="int" resultType="ProductEntity">
    	select * from tbl_product where catalog_id = #{id}
    </select>
     <select id="selectByOneCataLogId" parameterType="int" resultType="ProductEntity">
	    SELECT a.* FROM `tbl_product` a 
		where exists(select code from tbl_catalog b where b.parent_code=#{id} and a.catalog_id=b.code)
    </select>
     <select id="selectByProductCode" parameterType="long" resultType="ProductEntity">
    	select * from tbl_product where product_code = #{code}
    </select>
    
</mapper>
