<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>e-shop</title>
<link type="text/css" th:href="@{/css/css.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/wb.js}"></script>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/shop/common.js}"></script>
</head>
<body>
 <div class="mianCont">
  <div class="top" th:include="common::top"></div>
  <div class="lsg" th:include="common::lsg"></div>
  <div class="pnt" th:include="common::pnt2"></div>
  <div class="positions">
   当前位置：<a class="jie_1 jq_to_index">首页</a> &gt; <a href="#" class="posCur">商品列表</a>
  </div><!--positions/-->
  <div class="cont">
  <div class="jilu">
    总计 <span th:text="${product.size()}">8</span> 个记录
   </div><!--jilu/-->
   <div class="contRight">
    <div class="frProList">
      <dl th:each="item:${product}" class="jq_proinfo" th:proid="${item.id}">
      <dt><a class=""><img th:src="${item.picture}" width="132" height="129" /></a></dt>
      <dd th:text="${item.introduce}">妙洁 一次性纸杯 8盎司228ml 100只/袋 20袋/箱</dd>
      <dd class="cheng">￥<span th:text="${item.nowPrice + '/' + item.unit}" style="text-decoration:none;">19.80</span> ￥<span th:text="${item.price}">￥15.00</span></dd>
     </dl>
      <div class="clears"></div>
     </div><!--frProList-->
   </div><!--contRight/-->
   <div class="clears"></div>
  </div><!--cont/-->
  <div class="inHelp" th:include="common::inHelp"></div>
  <div class="footer" th:include="common::footer"></div>
 </div><!--mianCont/-->
 <a href="#" class="backTop">&nbsp;</a>
</body>
</html>
