<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>e-shop</title>
<link type="text/css" th:href="@{/css/css.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/wb.js}"></script>
<script type="text/javascript" th:src="@{/js/MagicZoom.js}" ></script>
<script type="text/javascript" th:src="@{/js/ShopShow.js}"></script>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/shop/common.js}"></script>
<script type="text/javascript" th:src="@{/js/shop/proinfo.js}"></script>
</head>
<body>
 <div class="mianCont">
  <div class="top" th:include="common::top"></div>
  <div class="lsg" th:include="common::lsg"></div>
  <div class="pnt" th:include="common::pnt2"></div>
  <div class="positions">
   当前位置：<a class="jie_1 jq_to_index">首页</a> &gt; <a href="#" class="posCur">商品详情</a>
  </div><!--positions/-->
  <div class="cont">
   <div class="" style="border:0;">
   <div class="proBox">
   <div id="tsShopContainer">
	<div id="tsImgS">
		<!-- 放大镜大图 -->
		<a th:href="@{${product.picture}}" class="MagicZoom" id="MagicZoom">
			<img width="300" height="300" th:src="@{${product.picture}}" />
		</a>
	</div>
	<div id="tsPicContainer">
		<div id="tsImgSArrL" onclick="tsScrollArrLeft()"></div>
		<div id="tsImgSCon" style="width:228px;">
			<ul style="width:900px;">
				<!-- 放大镜小图 -->
				<li th:each="image,imageStat:${#strings.arraySplit(product.images, ',')}" th:onclick="|showPic(${imageStat.index})|"  th:class="${imageStat.index == 0?'tsSelectImg':''}" rel="MagicZoom">
					<img height="42" width="42" th:src="@{'/images/' + ${image}}" th:tsImgS="@{'/images/' + ${image}}" />
				</li>
			</ul>
		</div>
		<div id="tsImgSArrR" onclick="tsScrollArrRight()"></div>
	</div>
	<img class="MagicZoomLoading" width="16" height="16" th:src="@{/images/loading.gif}" alt="Loading..." />
    </div><!--tsShopContainer/-->
    <div class="proBoxRight" style="margin-left:20px;">
     <h3 class="proTitle" th:text="${product.introduce}">17 饮料杯 250ml 41121 50个/袋</h3>
     <div>品名：<strong th:text="${product.title}">title</strong> </div>
     <div>商品编号：<strong th:text="${product.productCode}" id="productCode"> 334011 </strong> </div>
     <div>会员价：¥<strong th:text="${product.price}">7.20</strong> </div>
     <div>单位：<strong th:text="${product.unit}">袋</strong> </div>
     <div>库存：<strong class="red" th:text="${product.stock}">[有货] </strong> 从上海发货</div>
<!--      <ul class="rongliang"> -->
<!--       <li>100ml</li> -->
<!--       <li>200ml</li> -->
<!--       <li>300ml</li> -->
<!--       <li>400ml</li> -->
<!--       <li>500ml</li> -->
<!--       <div class="clears"></div> -->
<!--      </ul>rongliang/ -->
     <div class="shuliang2">
      数量： <input type="text" value="1" id="quantity"/>
     </div><!--shuliang2/-->
     <div class="gc">
      <a href="order.html"><img th:src="@{/images/goumai.png}" width="117"  height="36" /></a>&nbsp;&nbsp;
      <a id="addCart" style="cursor:pointer;"><img th:src="@{/images/savecart.jpg}" width="117" height="36" /></a>
     </div><!--gc/-->    
    </div><!--proRight/-->
    <div class="clears"></div>
    </div><!--proBox/-->
    <ul class="fangyuan">
      <li>商品描述</li>
      <li>商品参数</li>
      <li>商品评论</li>
      <li>商品晒图</li>
      <div class="clears"></div>
    </ul><!--fangyuan/-->
    <div class="fangList">
    <div class="fangPar" th:utext="${product.productHtml}">
         介绍啊，介绍啊。。。。
    </div><!--fangPar/-->
<!--     <img th:src="@{/images/ban1.jpg}" width="756" height="310" /> -->
    </div><!--fangList/-->
    <div class="fangList">
     商品参数
    </div><!--fangList/-->
    <div class="fangList">
     商品评论
    </div><!--fangList/-->
    <div class="fangList">
     <img th:src="@{/images/rdPro1.jpg}" width="132" height="129" /><br /><br />
    </div><!--fangList/-->
   </div><!--contRight/-->
   <div class="clears"></div>
  </div><!--cont/-->
  <div class="inHelp" th:include="common::inHelp"></div>
  <div class="footer" th:include="common::footer"></div>
 </div><!--mianCont/-->
 <a href="#" class="backTop">&nbsp;</a>
</body>
</html>
