<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>e-shop</title>
<link type="text/css" th:href="@{/css/css.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
<script type="text/javascript" th:src="@{/js/wb.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/shop/common.js}"></script>
<script type="text/javascript">
$(function(){
	$("#pay").on("click", function(){
		$.get("/order/pay?orderNo="+$(this).attr("orderNo"),null,function(data){
			if(200 == data.code){
				layer.msg("支付成功..",{icon:1,time:2000,shade:0.3},function(){
					CommonCls.toIndex();
				});
			}else{
				layer.msg("系统异常，请稍候重试..",{icon:2,time:2000,shade:0.3});
			}
		})
	})
})
</script>
</head>
<body>
 <div class="mianCont">
  <div class="top" th:include="common::top"></div>
  <div class="lsg" th:include="common::lsg"></div>
  <div class="pnt" th:include="common::pnt2"></div>
  <div class="positions">
   当前位置：<a href="index.html">首页</a> &gt; <a href="#" class="posCur">购物车</a>
  </div><!--positions/-->
  <div class="cont">
   <div class="chenggong">
    <h3>下单成功</h3>
    <div class="zhifu" style="width:270px;">
     您选择的支付方式是 <strong class="red" th:text="${payName}">支付宝</strong><br />
     <a class="jie_1" id="pay" th:orderNo="${orderNo}"><img src="/images/zhifu.png" width="133" height="41" /></a>
    </div><!--zhifu/-->
   </div><!--chenggong/-->
  </div><!--cont/-->
   <div class="inHelp" th:include="common::inHelp"></div>
  <div class="footer" th:include="common::footer"></div><!--footer/-->
 </div><!--mianCont/-->
 <a href="#" class="backTop">&nbsp;</a>
</body>
</html>
