<!-- top -->
<div th:fragment="top">
   <span th:if="${user==null}">您好！欢迎来到e-shop商城 请&nbsp;<a id="jq_toLogin" style="cursor:pointer;">[登录]</a>&nbsp;<a id="jq_toReg" style="cursor:pointer;">[注册]</a></span>
   <span th:if="${user!=null}"><span th:text="${user.userName}"></span>您好！欢迎来到e-shop商城 &nbsp;<a id="jq_toOut" style="cursor:pointer;">[退出]</a></span>
   <span class="topRight">
    <a href="vip.html">我的</a>&nbsp;| 
    <a href="order.html">我的订单</a>&nbsp;| 
    <a href="login.html">会员中心</a>&nbsp;|
    <a href="contact.html">联系我们</a>
   </span>
</div>
<!--inHelp/-->
<div th:fragment="inHelp">
   <div class="inHLeft">
    <h4>帮助中心</h4>
    <ul class="inHeList">
     <li><a href="help.html">购物指南</a></li>
     <li><a href="help.html">支付方式</a></li>
     <li><a href="help.html">售后服务</a></li>
     <li><a href="about.html">企业简介</a></li>
     <div class="clears"></div>
    </ul><!--inHeList/-->
   </div><!--inHLeft/-->
   <div class="inHLeft">
    <h4>会员服务</h4>
    <ul class="inHeList">
     <li><a href="reg.html">会员注册</a></li>
     <li><a href="login.html">会员登录</a></li>
     <li><a href="order.html">购物车</a></li>
     <li><a href="order.html">我的订单</a></li>
     <div class="clears"></div>
    </ul><!--inHeList/-->
   </div><!--inHLeft/-->
   <div class="inHRight">
    <h4>全国统一免费服务热线</h4>
    <div class="telBox">400-0000-0000</div>
    <div class="weibo">
    <wb:follow-button uid="2991975565" type="red_1" width="67" height="24" ></wb:follow-button>
    </div>
   </div><!--inHRight/-->
   <div class="clears"></div>
</div>
<!--footer/-->
<div th:fragment="footer">
   <p>
   <a href="#">进入17官网</a>&nbsp;|&nbsp;
   <a href="index.html">商城首页</a>&nbsp;|&nbsp;
   <a href="product.html">促销中心</a>&nbsp;|&nbsp;
   <a href="order.html">我的订单</a>&nbsp;|&nbsp;
   <a href="new.html">新闻动态</a>&nbsp;|&nbsp;
   <a href="login.html">会员中心</a>&nbsp;|&nbsp;
   <a href="help.htmll">帮助中心</a>
   </p>
   <p>
    版权所有：上海17实业有限公司 版权所有  Copyright 2010-2015   沪ICP备00000000号   <a href="http://www.mycodes.net/" target="_blank">源码之家</a>   
   </p>
</div>
<!--pnt/-->
<div class="pnt" th:fragment="pnt">
   <div class="pntLeft">
    <h2 class="Title">所有商品分类</h2>
    <ul class="InPorNav jq_index_pronav">
     <li th:fragment="catalog_tree" th:each="val:${catalogs}">
     	<a href="product.html" th:text="${val.name}"></a>
     	<div class="chilInPorNav">
     		<a href="#" th:each="node:${val.trees}"><span th:text="${node.name}"></span></a>
     	</div>
     </li>
    </ul><!--InPorNav/-->
   </div><!--pntLeft/-->
   <div class="pntRight">
    <ul class="nav">
     <li class="navCur"><a href="index.html">商城首页</a></li>
     <li><a href="product.html">促销中心</a></li>
     <li><a href="login.html">会员中心</a></li>
     <li><a href="help.html">帮助中心</a></li>
     <div class="clears"></div>
     <div class="phone">TEL：021-12345678</div>
    </ul><!--nav/-->
    <div class="banner">
     <div id="kinMaxShow">
      <div th:each="obj:${navProducts}">
       <a class="jie_1 jq_proinfo" th:proid="${obj.id}"><img th:src="@{${obj.maxPicture}}" height="360"/></a>
      </div> 		
     </div><!--kinMaxShow/-->
    </div><!--banner/-->
   </div><!--pntRight/-->
   <div class="clears"></div>
</div>
<!--lsg/-->
<div class="lsg" th:fragment="lsg">
   <h1 class="logo"><a class="jie_1 jq_to_index"><img th:src="@{/images/logo.png}" width="217" height="90" /></a></h1>
   <div action="#" method="get" class="subBox">
    <div class="subBoxDiv">
     <input type="text" class="subLeft" id="jq_hot_search" placeholder="输入搜索关键字"/>
     <input type="image" th:src="@{/images/subimg.png}" width="63" height="34" class="sub" id="jq_tosearch"/>
     <div class="hotWord">
      热门搜索：
      <a  th:fragment="hot_product" th:each="item:${hotProducts}" th:text="${item.title}" th:pcode="${item.productCode}" style="margin-left:5px;cursor:pointer;" class="jq_search_item"></a>
<!--       <a th:each="item:${hotProducts}" th:text="${item.title}" th:pcode="${item.productCode}" style="margin-left:5px;cursor:pointer;" class="jq_search_item"></a> -->
     </div><!--hotWord/-->
    </div><!--subBoxDiv/-->
   </div><!--subBox/-->
   <div class="gouwuche">
    <div class="gouCar">
     <img th:src="@{/images/gouimg.png}" width="19" height="20" style="position:relative;top:6px;" />&nbsp;|&nbsp;
     <strong class="red" id="jq_cartNum">0</strong>&nbsp;件&nbsp;|
     ￥<strong class="red" id="jq_cartTotal"> 0.00</strong> 
     <a id="toCart" style="cursor:pointer;">去结算</a> <img th:src="@{/images/youjian.jpg}" width="5" height="8" />    
    </div><!--gouCar/-->
    <div class="myChunlv">
     <a class="jie_1 jq_toVip"><img th:src="@{/images/mychunlv.jpg}" width="112" height="34" /></a>
    </div><!--myChunlv/-->
   </div><!--gouwuche/-->
  </div>
  <div th:fragment="pnt2">
   <div class="pntLeft">
    <h2 class="Title">所有商品分类
     <ul class="InPorNav InPorNav2">
     	<li th:fragment="catalog_tree2" th:each="val:${catalogs}">
	     	<a href="product.html" th:text="${val.name}"></a>
	     	<div class="chilInPorNav">
	     		<a href="#" th:each="node:${val.trees}"><span th:text="${node.name}"></span></a>
	     	</div>
     	</li>
    </ul><!--InPorNav/-->
    </h2>
   </div><!--pntLeft/-->
   <div class="pntRight">
    <ul class="nav">
     <li><a href="index.html">商城首页</a></li>
     <li class="navCur"><a href="#">促销中心</a></li>
     <li><a href="login.html">会员中心</a></li>
     <li><a href="help.html">帮助中心</a></li>
     <div class="clears"></div>
     <div class="phone">TEL：021-12345678</div>
    </ul><!--nav/-->
   </div><!--pntRight/-->
   <div class="clears"></div>
  </div><!--pnt/-->
  <div class="contLeft" id="contLeft" th:fragment="contLeft">
    <h3 class="leftTitle">会员中心</h3>
    <dl class="helpNav vipNav">
     <dt>我的主页</dt>
      <dd>
       <a href="vip.html" class="vipCur">个人中心</a>
       <a href="vipOrder.html">我的订单</a>
      </dd>
     <dt>账户设置</dt>
      <dd>
       <a href="vipMy.html" style="display:none">个人信息</a>
       <a class="jie_1 jq_vipopt" type="vipPwd">密码修改</a>
       <a href="vipAdress.html">收货地址</a>
      </dd>
      <dt>客户服务</dt>
       <dd>
        <a href="vipExit.html">网站使用条款</a>
        <a href="vipTuihuo.html">网站免责声明</a>
        <a href="message.html">在线留言</a>
       </dd>
    </dl><!--helpNav/-->
   </div><!--contLeft/-->