<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>eshop</title>
<link type="text/css" th:href="@{/css/css.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/shop/index.js}"></script>
<script type="text/javascript" th:src="@{/js/shop/common.js}"></script>
<script type="text/javascript" th:src="@{/js/wb.js}"charset="utf-8"></script>
<script type="text/javascript">
$(function(){
	$("#kinMaxShow").kinMaxShow();
});
</script>
</head>
<body>
 <div class="mianCont">
  <div class="top" th:include="common::top"></div>
  <div class="lsg" th:include="common::lsg"></div>
  <div class="pnt" th:include="common::pnt"></div>
  <div class="rdPro">
   <div class="rdLeft">
    <ul class="rdList">
     <li>推荐产品</li>
     <li>促销产品</li>
     <div class="clears"></div>
    </ul><!--rdList/-->
    <div class="rdProBox">
     <dl th:each="obj:${proProducts}" class="jq_proinfo" th:proid="${obj.id}">
      <dt><img th:src="@{${obj.picture}}" width="132" height="129" /></dt>
      <dd th:text="${obj.introduce}">妙洁 一次性纸杯 8盎司228ml 100只/袋 20袋/箱</dd>
      <dd class="cheng" th:text="'￥' + ${obj.price}+'/' + ${obj.unit}">￥19.80/袋</dd>
     </dl>
     <div class="clears"></div>
    </div><!--rdPro/-->
    <div class="rdProBox">
     <dl th:each="obj:${recProducts}" class="jq_proinfo" th:proid="${obj.id}">
      <dt><img th:src="@{${obj.picture}}" width="132" height="129" /></dt>
      <dd th:text="${obj.introduce}">妙洁 一次性纸杯 8盎司228ml 100只/袋 20袋/箱</dd>
      <dd class="cheng" th:text="'￥' + ${obj.price}+'/' + ${obj.unit}">￥19.80/袋</dd>
     </dl>
     <div class="clears"></div>
    </div><!--rdPro/-->
   </div><!--rdLeft/-->
   <div class="rdRight">
    <img th:src="@{/images/rdRight.jpg}" width="221" height="254" />
   </div><!--rdRight/-->
   <div class="clears"></div>
  </div><!--rdPro/-->
  <div class="hengfu">
   <img th:src="@{/images/hengfu1.jpg}" width="979" height="60" />
  </div><!--hengfu/-->
  <div class="floor" th:each="item,itemStat:${catalogs}">
   <div>
	   <h3 class="floorTitle" th:text="${itemStat.count}+'F-'+${item.name}" style="display:inline-block;">
	   1F-name
	   </h3>
	   <a class="more jie_1 jq_catalog_more" th:catalogid="${item.code}" th:unless="${#lists.isEmpty(item.trees)}" style="display:inline-block;">更多 &gt;</a>
   </div>
   <div class="floorBox">
    <div class="floorLeft">
     <ul class="flList">
      <li th:each="item2,item2Stat:${item.trees}" th:value="${item2.code}" class="click_item">
      	<span th:text="${item2.name}" th:class="'cls-' + ${item2Stat.index}"></span>
      </li>
      <li th:unless="${#lists.isEmpty(item2)}"><a href="proinfo.html">更多&gt;&gt;</a></li>
      <div class="clears"></div>
     </ul><!--flList/-->
     <div class="flImg"><img th:src="@{/images/flListimg.jpg}" width="198" height="290" /></div>
    </div><!--floorLeft/-->
    <div class="floorRight">
     <div class="frProList">
<!--       <dl th:each="item3:${item.trees.products}"> -->
<!--       <dt><a href="proinfo.html"><img src="@{${item3.picture}}" width="132" height="129" /></a></dt> -->
<!--       <dd th:text="${item3.introduce}">妙洁 一次性纸杯 8盎司228ml 100只/袋 20袋/箱</dd> -->
<!--       <dd class="cheng" th:text="'￥' + ${item3.price}+'/' + ${item3.unit}">￥19.80/袋</dd> -->
<!--      </dl> -->
      <div class="clears"></div>
     </div><!--frProList-->
    </div><!--floorRight/-->
    <div class="clears"></div>
   </div><!--floorBox/-->
  </div><!--floor/-->
  <div class="inHelp" th:include="common::inHelp"></div>
  <div class="footer" th:include="common::footer"></div><!--footer/-->
 </div><!--mianCont/-->
 <a href="#" class="backTop">&nbsp;</a>
</body>
</html>
